<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link  type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" data-main="js/main" src="js/require.js"></script>
</head>
<body>
<div class="top">
    <div class="container">
        <div class="pull-left top-text">
            <span th:if="${#session?.getAttribute('user')} != null">Hi～亲爱的[(${#session.getAttribute("user")?.username})]</span>
            <a th:if="${#session?.getAttribute('user')}  == null" th:href="@{/login}">登录</a>
            <a th:if="${#session?.getAttribute('user')}  == null" th:href="@{/register}">注册</a>
            <a th:if="${#session?.getAttribute('user')}  != null" th:href="@{/removeuser}">注销</a>
        </div>
        <div th:if="${#session?.getAttribute('user')}  != null" class="pull-right user-info">
            <div class="top-group" style="cursor: pointer">
                我的账户 <i class="icon-angle-down"></i>
                <div class="user-menu">
                    <a href="/article/zhuceyonghu">注册新用户</a></li>
                    <a href="/article/xieyi">用户协议</a></li>
                    <a href="/article/xiugaixinxi">修改信息</a></li>
                </div>
            </div>
            <div class="top-group"><a href="orderlist"><i class="icon-reorder"></i>我的订单</a></div>
            <div class="top-group"><a id="tocart" href="javascript:void(0)"><i class="icon-shopping-cart"></i>购物车</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="login">
        <div class="logo">
            <a href="#">
                <img src="images/logo.png" width="250px" height="100px">
            </a>
             <div class="logo-text"><h3><b>用户登录</b></h3></div>
        </div>

        <div class="login-form ">
            <form class="form-horizontal" method="post" action="/loginuser">
                <p style="color:red" th:text="${errorMsg}"></p>
                <div class="form-group">
                    <i class="icon-user"></i>
                    <input type="text" name="username" class="form-control" placeholder="用户名/邮箱"/>
                </div>
                <div class="form-group">
                    <i class="icon-lock"></i>
                    <input type="password" name="password" class="form-control" placeholder="密码"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block">立即登录</button>
                </div>
                <div class="form-group">
                    <h5 class="pull-right"><a href="forgetPw">忘记密码?</a></h5>
                </div>
                <div class="form-group">
                    <h5 class="pull-right"><a href="adminlogin">管理员登录！</a></h5>
                </div>
                <div class="form-group">
                    <h5>没有帐号？<a href="register">立即注册 </a></h5>
                </div>
                <div class="form-group">
                    <h5><a href="/index">返回首页</a></h5>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-group pull-left">
            <ul class="footer-list">
                <li class="top-title"><span>新手指南</span></li>
                <li><a href="/article/zhuceyonghu">注册新用户</a></li>
                <li><a href="/article/xieyi">用户协议</a></li>
                <li><a href="/article/xiugaixinxi">修改信息</a></li>
            </ul>
            <ul class="footer-list">
                <li class="top-title"><span>购物指南</span></li>
                <li><a href="/article/gouwuliucheng">购物流程</a></li>
            </ul>
            <ul class="footer-list">
                <li class="top-title"><span>购物车</span></li>
                <li><a href="/article/gouwucheshuoming">购物车说明</a></li>
            </ul>
        </div>
        <div class="footer-group pull-right">
            <div class="contact">
                <img src="images/contact.jpg">
            </div>
            <p>监督：1038334827</p>
            <p> 在线客服</p>
        </div>
        <div class="copy-right">
            <p><span>CopyRight © 2018-2019 127.0.0.1:8080 right to zh</span></p>
        </div>
    </div>
</div>
<div class="sticky">
    <div><a href="#" title="返回顶部"><i class="icon-angle-up"></i></a></div>
</div>
<!--置顶-->
</body>
<script>

</script>
</html>